.rightbar__Friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbar__Profile-Img-Container {
  margin-right: 10px;
  position: relative;
}

.rightbar__Profile-Img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbar__Online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbar__Username{
  font-weight: 500;
}